@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    background: linear-gradient(180deg, #6ebac7 0%, #288e9f 100%);
  }
}

@layer components {
  .flex-all-center {
    @apply flex flex-col justify-center items-center;
  }

  .flex-x-center {
    @apply flex flex-col items-center;
  }

  .centered-absolute {
    @apply top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  }

  img {
    @apply text-custom-dark;
  }
}

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
}
